-- MySQL dump 10.13  Distrib 5.7.44, for Linux (x86_64)
--
-- Host: localhost    Database: cinema_db
-- ------------------------------------------------------
-- Server version	5.7.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `CB_BOOKING`
--

DROP TABLE IF EXISTS `CB_BOOKING`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `CB_BOOKING` (
  `booking_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `showing_id` int(11) NOT NULL,
  `seat_id` int(11) NOT NULL,
  `booking_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`booking_id`),
  UNIQUE KEY `showing_id` (`showing_id`,`seat_id`),
  KEY `user_id` (`user_id`),
  KEY `seat_id` (`seat_id`),
  CONSTRAINT `CB_BOOKING_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `CB_USERS` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `CB_BOOKING_ibfk_2` FOREIGN KEY (`showing_id`) REFERENCES `CB_SHOWINGS` (`showing_id`) ON DELETE CASCADE,
  CONSTRAINT `CB_BOOKING_ibfk_3` FOREIGN KEY (`seat_id`) REFERENCES `CB_SEATS` (`seat_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `CB_BOOKING`
--

LOCK TABLES `CB_BOOKING` WRITE;
/*!40000 ALTER TABLE `CB_BOOKING` DISABLE KEYS */;
/*!40000 ALTER TABLE `CB_BOOKING` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `CB_CINEMA`
--

DROP TABLE IF EXISTS `CB_CINEMA`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `CB_CINEMA` (
  `cinema_id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `location` varchar(255) NOT NULL,
  PRIMARY KEY (`cinema_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `CB_CINEMA`
--

LOCK TABLES `CB_CINEMA` WRITE;
/*!40000 ALTER TABLE `CB_CINEMA` DISABLE KEYS */;
/*!40000 ALTER TABLE `CB_CINEMA` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `CB_FILMS`
--

DROP TABLE IF EXISTS `CB_FILMS`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `CB_FILMS` (
  `film_id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(150) NOT NULL,
  `genre` varchar(50) DEFAULT NULL,
  `duration_minutes` int(11) DEFAULT NULL,
  `description` text,
  PRIMARY KEY (`film_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `CB_FILMS`
--

LOCK TABLES `CB_FILMS` WRITE;
/*!40000 ALTER TABLE `CB_FILMS` DISABLE KEYS */;
/*!40000 ALTER TABLE `CB_FILMS` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `CB_SEATS`
--

DROP TABLE IF EXISTS `CB_SEATS`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `CB_SEATS` (
  `seat_id` int(11) NOT NULL AUTO_INCREMENT,
  `theater_id` int(11) NOT NULL,
  `seat_number` varchar(10) NOT NULL,
  `row_label` varchar(5) DEFAULT NULL,
  PRIMARY KEY (`seat_id`),
  UNIQUE KEY `theater_id` (`theater_id`,`seat_number`),
  CONSTRAINT `CB_SEATS_ibfk_1` FOREIGN KEY (`theater_id`) REFERENCES `CB_THEATER` (`theater_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `CB_SEATS`
--

LOCK TABLES `CB_SEATS` WRITE;
/*!40000 ALTER TABLE `CB_SEATS` DISABLE KEYS */;
/*!40000 ALTER TABLE `CB_SEATS` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `CB_SHOWINGS`
--

DROP TABLE IF EXISTS `CB_SHOWINGS`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `CB_SHOWINGS` (
  `showing_id` int(11) NOT NULL AUTO_INCREMENT,
  `theater_id` int(11) NOT NULL,
  `film_id` int(11) NOT NULL,
  `show_time` datetime NOT NULL,
  PRIMARY KEY (`showing_id`),
  KEY `theater_id` (`theater_id`),
  KEY `film_id` (`film_id`),
  CONSTRAINT `CB_SHOWINGS_ibfk_1` FOREIGN KEY (`theater_id`) REFERENCES `CB_THEATER` (`theater_id`) ON DELETE CASCADE,
  CONSTRAINT `CB_SHOWINGS_ibfk_2` FOREIGN KEY (`film_id`) REFERENCES `CB_FILMS` (`film_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `CB_SHOWINGS`
--

LOCK TABLES `CB_SHOWINGS` WRITE;
/*!40000 ALTER TABLE `CB_SHOWINGS` DISABLE KEYS */;
/*!40000 ALTER TABLE `CB_SHOWINGS` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `CB_THEATER`
--

DROP TABLE IF EXISTS `CB_THEATER`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `CB_THEATER` (
  `theater_id` int(11) NOT NULL AUTO_INCREMENT,
  `cinema_id` int(11) NOT NULL,
  `name` varchar(100) NOT NULL,
  `seat_count` int(11) NOT NULL,
  PRIMARY KEY (`theater_id`),
  KEY `cinema_id` (`cinema_id`),
  CONSTRAINT `CB_THEATER_ibfk_1` FOREIGN KEY (`cinema_id`) REFERENCES `CB_CINEMA` (`cinema_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `CB_THEATER`
--

LOCK TABLES `CB_THEATER` WRITE;
/*!40000 ALTER TABLE `CB_THEATER` DISABLE KEYS */;
/*!40000 ALTER TABLE `CB_THEATER` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `CB_USERS`
--

DROP TABLE IF EXISTS `CB_USERS`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `CB_USERS` (
  `user_id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `CB_USERS`
--

LOCK TABLES `CB_USERS` WRITE;
/*!40000 ALTER TABLE `CB_USERS` DISABLE KEYS */;
/*!40000 ALTER TABLE `CB_USERS` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-16 18:33:29
